body{
    background-color: rgb(3, 4, 70);
    display: flex;
    justify-content: center;
    height: 1000px;
}
.container{
    width: 80%;
    height:100%;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(3, 4, 70);
    border-radius: 10px;
    flex-direction: column;
    flex-grow: inherit;
}

header{
    display: flex;
    flex-grow: inherit;
    background-color: rgb(170, 212, 0);
    border: 4px solid rgb(19,129,34);
    flex-direction: column;
    height: 30%;
    padding: 2%;
    border-radius: 10px;
}
nav{
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    height: 10%;
    background-color: rgb(38, 82, 176);
    border: 5px solid rgb(0,0,0);
    width: 100%;
    border-radius: 15px;
    list-style: none;
    justify-items: center;
    text-align: center;
    
}
li{
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    width: 100%;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 130%;
}
.dog{
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    height: 100%;
}
.logo{
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    height: 95%;
}
.box1{
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    height: 80%;
    justify-content: center;
}
.box2{
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    justify-content: center;
    height: 67%;
}
h1{
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    height: 150px; 
    width: 150px;
    color: rgb(255, 203, 0);
    text-decoration-color: black;
}
::selection{
    background-color: rgb(139, 117, 17);
    color: rgb(255, 255, 255);
}
li:hover{
    color: rgb(170, 212, 0);
    font-size: 140%;
}
.logo:hover{
    height: 100%;
}
article{
    display: flexbox;
    flex-direction: column-reverse;
    border: 4px solid rgb(170, 212, 0);
    border-radius: 10px;
    background-color: rgb(38, 82, 176);
    width: 25%;
    height: auto;
}
section{
    display: flexbox;
    flex-direction: row;
    border: 4px solid rgb(38, 82, 176);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 75%;
    height: auto;
}
footer{
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    height: 3%;
    background-color: rgb(38, 82, 176);
    border: 5px solid rgb(0,0,0);
    width: 100%;
    border-radius: 15px;
    justify-items: center;
    text-align: center;
    justify-self: flex-end;
}